{{>homeNav}}

<div class="container">
<form style="padding-top:100px;" action="/messages" method="POST">
    <h2>Add a new milestone {{user}}</h2>

    <fieldset>
        <div class="form-group">
            <label for="disabledTextInput">Milestone Name</label>
            <input type="text" name="message" class="form-control" placeholder="Milestone Name" required>
        </div>
        <div class="form-group">
            <label for="disabledTextInput">Milestone Description</label>
            <input type="text" name="description" id="disabledTextInput" class="form-control" placeholder="What is required?" required>
        </div>
        <div class="form-group">
            <label for="disabledTextInput">Milestone Completion Date</label>
            <input type='text' name="expectedComplete" class="form-control" placeholder="mm/dd/yy 00:00:00" id='datetimepicker1' required/>
        </div>
        <div class="form-group">
            <input type='text' name="link" class="form-control" placeholder="mm/dd/yy 00:00:00" id='link' hidden/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>
</div>

<script>

    var aLink =  Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);

 const values = {

  link: aLink
}

const keys = Object.keys(values)
const length = keys.length

for(let i = 0; i < length; i++){
    const key = keys[i]
    document.getElementsByName(key)[0].value = values[key]
}


</script>
{{>foot}}
