<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="../webapp/css/db.css" rel="stylesheet">
    <title>DB Example</title>
</head>

<body>
<div class="head">No of records:{{size}} </div>