
{{>head}}
<body>
<div style="background-image: url(images/3.jpg); height:150px; margin-top:50px;">
    <center><h1 style="color:white; padding:30px;">WELCOME TO THE MILESTONE APPLICATION</h1></center>
</div>

<br/>
<div style="padding:15px;">
    <p><a href="/login">Login Page</a></p>
    <p><a href="/register">Register</a></p>
    <p><a href="/messages">Messages</a></p>
    <p><a href="/private">Private page (have to login to access)</a></p>
    <form action="/logout" method="POST">
        <button type="submit" style="border-radius:10px; font-size:18px;">Logout</button>
    </form>
</div>

{{>foot}}