{{>homeNav}}

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1 style="font-size:40px;">Group Milestone Tracker</h1>
        <p class="lead" style="font-size:30px;">Welcome to your group milestone tracker.</p>
    </div>
</header>

<style>
header {
  padding: 154px 0 100px;
}
header.bg-primary{
background-image: url(images/3.jpg);
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}
    </style>



<body style="background-color:white;">

<div class="container">
    <table class="table container">
        <thead>
        <tr>
            <th scope="col">Milestone Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date To Complete</th>
            <th scope="col">Date Created</th>
            <th scope="col">User</th>
            <th scope="col">Link</th>

            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        {{^messages}}
            There are no messages
        {{/messages}}
        {{#messages}}
            <tr>


                <td>{{message}}</td>
                <td>{{description}}</td>
                <td>{{expectedComplete}}</td>
                <td>{{createdDate}}</td>
                <td>{{user}}</td>
                <td>{{link}}</td>

                <td><button type="button" class="btn btn-outline-primary">View</button> <button type="button" class="btn btn-outline-secondary">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </td>

            </tr>

        {{/messages}}
        </tbody>
    </table>
</div>


<!--<div style="margin-top:40px;">-->
<!--{{>timeline}}-->
<!--</div>-->

{{>foot}}