{{>homeNav}}

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Group Milestone Tracker</h1>
        <p class="lead">Welcome to your group milestone tracker.</p>
    </div>
</header>

<style>

header {
  padding: 154px 0 100px;
}
header.bg-primary{
background-image: url(images/3.jpg);
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

    </style>
<body>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 style="margin-top:-60px;">About/How to use.</h2>
                <p class="lead">This is a milestone tracker developed as part of Web Platform Development 2.</p>
                <ul>
                    <li>Heather is a weapon</li>
                    <li>WOW</li>
                    <li>Least it works</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{>foot}}