{{>head}}

<h1>MENU</h1>

<p><a href="/login">Login Page</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/messages">Messages</a></p>
<p><a href="/private">Private page (have to login to access)</a></p>
<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>
{{>foot}}