{{>homeNav}}

<div class="container" style="padding-top:100px;">
<h1>Milestones</h1>


<div class="container">
<p>Current Milestones.</p>

    <table class="table container">
        <thead>
        <tr>
            <th scope="col">Milestone Name</th>
            <th scope="col">Date Created</th>
            <th scope="col">User</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        {{^messages}}
            There are no messages
        {{/messages}}
        {{#messages}}
        <tr>


        <td>{{message}}</td>
            <td>{{createdDate}}</td>
            <td>{{user}}</td>
            <td><button type="button" class="btn btn-outline-primary">View</button> <button type="button" class="btn btn-outline-secondary">Edit</button>
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </td>

        </tr>

        {{/messages}}
        </tbody>
    </table>
</div>

    {{#user}}
        <form action="/messages/{{user}}">
            <input type="submit" value="Your milestones" style="margin-top:1em;"/>
        </form>
    {{/user}}

</div>
{{>foot}}