{{>head}}
<h1>Messages</h1>
{{#user}}
<form action="/messages/{{user}}">
    <input type="submit" value="Your messages" style="margin-top:1em;"/>
</form>
{{/user}}

<p>Current messages.</p>




    <table class="table container">
        <thead>
        <tr>
            <th scope="col">Message</th>
            <th scope="col">Date Created</th>
            <th scope="col">User</th>
        </tr>
        </thead>
        <tbody>
        {{^messages}}
            There are no messages
        {{/messages}}
        {{#messages}}
        <tr>


        <td>{{message}}</td>
            <td>{{createdDate}}</td>
            <td>{{user}}</td>

        </tr>
        {{/messages}}
        </tbody>
    </table>



<p>Add a message {{user}}</p>
<form action="/messages" method="POST">
    <label>Message:<input type="text" name="message" placeholder="message"/></label>
    <input type="submit" value="Create" style="margin-top:1em;"/>
</form>
<p><a href="/index.html">Home</a></p>
{{>foot}}