{{> db_header}}
<ul class="nav nav-tabs">
    <li role="presentation" class="active" style="padding:10px; margin-left:25px;"><a href="#">Home</a></li>
    <li role="presentation" style="padding:10px;"><a href="#">Profile</a></li>
    <li role="presentation" style="padding:10px;"><a href="#">Messages</a></li>
</ul>