{{>homeNav}}


<div class="container">
    <h1 style="margin-top:80px;">Milestone from: {{user}}</h1>

        {{#messages}}
            {{#matches}}
                <form action="/update/{{message}}" method ="POST">
                    <input type="submit" value="Update" style="margin-top:1em;"/>
                </form>
            {{/matches}}
        {{/messages}}


        {{^messages}}
            <label>There are no messages for {{user}}</label>
        {{/messages}}
        {{#messages}}


        <form action="/update/{{link}}" name="method" value="update" method="POST">
            <div class="form-group">
                <label for="exampleFormControlInput1">Milestone Name</label>
                <input type="text" value="{{message}}" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{description}}</textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Date to Complete</label>
                <input type="text" value="{{expectedComplete}}" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <button type="submit" value="update" style="margin-top:1em; border-radius:10px; height:50px; width:150px;">Submit</button>

        </form>
{{/messages}}

</div>
{{>foot}}