{{>homeNav}}


<div class="container">
<h1 style="margin-top:80px;">Messages for {{user}}</h1>


    <table class="table container">
        <thead>
        <tr>
            <th scope="col">Check</th>
            <th scope="col">Milestone Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date To Complete</th>
            <th scope="col">Date Created</th>
            <th scope="col">User</th>
            <th scope="col">Link</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
<form action="/messages/{{user}}" method="POST">
{{^messages}}
    <label>There are no messages for {{user}}</label>
{{/messages}}
{{#messages}}
    <tr>

        <td>{{#matches}}<input type="radio" name="msgId" value="{{id}}">{{/matches}} Message: {{message}} Created: {{createdDate}} By: {{user}} </td>
        <td>{{message}}</td>
        <td>{{description}}</td>
        <td>{{expectedComplete}}</td>
        <td>{{createdDate}}</td>
        <td>{{user}}</td>
        <td>{{link}}</td>


        <td>
    {{#matches}}
            <button type="button" class="btn btn-outline-primary">View</button> <button type="button" class="btn btn-outline-secondary">Edit</button>
            <input type="hidden" name="method" value="delete">
            <button type="submit" value="Delete" class="btn btn-outline-danger">Delete</button>
    {{/matches}}

        </td>

    </tr>


{{/messages}}


</form>
{{#messages}}
    {{#matches}}
    <form action="/update/{{message}}" method ="POST">
        <input type="submit" value="Update" style="margin-top:1em;"/>
    </form>
{{/matches}}
{{/messages}}

</div>
{{>foot}}