{{>homeNav}}


<div class="container">
<h1 style="margin-top:80px;">Messages for {{user}}</h1>


    <table class="table container">
        <thead>
        <tr>
            <th scope="col" style="width:40px;">Check</th>
            <th scope="col">Milestone Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date To Complete</th>
            <th scope="col">Date Created</th>
            <th scope="col">User</th>
            <th scope="col">Link</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
<form action="/messages/{{user}}" method="POST">
{{^messages}}
    <label>There are no messages for {{user}}</label>
{{/messages}}
{{#messages}}
    <tr>

        <td>{{#matches}}<input type="radio" name="msgId" value="{{id}}">{{/matches}} </td>
        <td>{{message}}</td>
        <td>{{description}}</td>
        <td>{{expectedComplete}}</td>
        <td>{{createdDate}}</td>
        <td>{{user}}</td>
        <td>{{link}}</td>


        <td><center>
    {{#matches}}

            <input type="hidden" name="method" value="delete">
            <button type="submit" style="margin-top:10px;" value="Delete" class="btn btn-outline-danger">Delete</button>
        <button  style="margin-top:10px;" class="btn btn-outline-danger"><a href="/update/{{link}}"class="href">Update</a></button>

    {{/matches}}
        </center>
        </td>

    </tr>


{{/messages}}


</form>


</div>
{{>foot}}